.flex {
    display: flex;
    gap: 15px;
}

.flex_gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
}

.selection_gap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 25px;
}

table,
td {
  border: 1px solid #333;
}
