{% extends "layout.html" %}

{% block title %}Kurssityökalut{% endblock %}
<b>Mitä haluat tehdä?</b>
{% block content %}
<h2>Luo kurssi</h2>
<form action="/coursetools" method="POST">
    <label for="course_name">Kurssin nimi:</label>
    <input name="course_name" type="text" minlength="1" required>
    <br>
    <label for="credits">Opintopisteet:</label>
    <input name="credits" type="number" style="width: 35px" value="5" min="0" max="10" required>
    <br>
    <input type="submit" value="Luo kurssi">
    {% if request.args.get("status") == "success" %}
    <p>Kurssi luotu onnistuneesti!</p>
    {% endif %}
    {% if request.args.get("status") == "fail" %}
    <p>Kurssin luonti epäonnistui, yritä uudelleen.</p>
    {% endif %}
    {% if request.args.get("status") == "already_exists" %}
    <p>Kurssi {{ request.args.get("name") }} on jo olemassa!</p>
    {% endif %}
</form>
<hr>
<h2>Lista kursseista</h2>
<table>
    <thead>
        <tr>
            <th><b>Kurssi</b></th>
            <th><b>Opintopisteet</b></th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>

        {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
