{% extends "layout.html" %}

{% block title %}Kurssinäkymä{% endblock %}
{% block content %}
<h2>Omat kurssit</h2>
{% if request.args.get("status") == left %}
<p>Lähdit kurssilta {{ request.args.get("name") }}.</p>
{% endif %}
{% if own_courses|length == 0 %}
<h3>Et ole millään kursseilla.</h3>
{% else %}
<table>
    <thead>
        <tr>
            <th><b>Kurssi</b></th>
            <th><b>Opintopisteet</b></th>
            <th><b>Opettajat</b></th>
        </tr>
    </thead>
    <tbody>
    {% for course in own_courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["credits"] }}</td>
            <td>{{ course["teacher_names"] }}</td>
            <td><a href="/leavecourse?id={{course['id']}}" style="color: red">Poistu kurssilta</a></td>
            <td><a href="/exercises?id={{course['id']}}">Tee tehtäviä</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
<h2>Kurssitarjonta</h2>
{% if other_courses|length == 0 %}
<h3>Kurssilista on tyhjä.</h3>
{% else %}
<table>
    <thead>
        <tr>
            <th><b>Kurssi</b></th>
            <th><b>Opintopisteet</b></th>
            <th><b>Opettajat</b></th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        {% for course in other_courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["credits"] }}</td>
            <td>{{ course["teacher_names"] }}</td>
            <td><a href="/joincourse?id={{course['id']}}" style="color: green">Liity kurssille</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
