<link rel="stylesheet" href="styles.css">

{% if session.username %}
    <h1>Tervetuloa!</h1>
    {% if session.role == teacher %}
        <h2>Olet kirjautuneena tilillä {{ session.username }} (opettajatili)</h2>
        <a href="/coursetools">Kurssityökalut</a>
        <br>
    {% else %}
        <h2>Olet kirjautuneena tilillä {{ session.username }} (opiskelijatili)</h2>
    {% endif %}
    <a href="/logout">Kirjaudu ulos</a>
{% else %}
<title>Opetussovellus</title>
<h1>Opetussovellus</h1>
<h2>Tervetuloa!</h2>
<a href="/login">Kirjaudu sisään</a>
<br>

<b>Tai jos sinulla ei vielä ole tiliä, luo tili:</b>
<br>
<form action="accountcreated" method="POST">
    <div class="flex_gap">
        <div>
            <label for="username">Käyttäjänimi (5-20 merkkiä)</label>
            <input type="text" name="username" minlength="5" maxlength="20" required>
        </div>
        <div>
            <label for="password">Salasana (Vähintään 5 merkkiä)</label>
            <input type="text" name="password" minlength="5" required>
        </div>
    </div>
    Oletko opiskelija vai opettaja?
    <div class="selection_gap">
        <div>
            <input type="radio" id="student" name="role" value="student">
            <label for="student">Opiskelija</label>
        </div>
        <div>
            <input type="radio" id="teacher" name="role" value="teacher">
            <label for="teacher">Opettaja</label>
        </div> 
    </div>
    <br>
    <input type="submit" value="Luo tili">
</form>
{% endif %}
