<link rel="stylesheet" href="styles.css">

{% if session.username %}
<h1>Tervetuloa, {{ session.username }}!</h1>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<title>Opetussovellus</title>
<h1>Opetussovellus</h1>
<h2>Tervetuloa!</h2>
<a href="/login">Kirjaudu sisään</a>
<br>

<b>Tai jos sinulla ei vielä ole tiliä, luo tili:</b>
<br>
<form action="accountcreated" method="POST">
    <div class="flex_gap">
        Käyttäjänimi:
        <input type="text" name="username">
        Salasana:
        <input type="text" name="password">
    </div>
    Oletko opiskelija vai opettaja?
    <div class="selection_gap">
        <div>
            <input type="radio" id="student" name="role" value="student">
            <label for="student">Opiskelija</label>
        </div>
        <div>
            <input type="radio" id="teacher" name="role" value="teacher">
            <label for="teacher">Opettaja</label>
        </div> 
    </div>
    <br>
    <input type="submit" value="Luo tili">
</form>
{% endif %}
