    {% if request.args.get("failed") == "1" %}
    <title>Kirjautuminen epäonnistui</title>
    <p style="color:red">Tiliä ei ole olemassa, kokeile uudelleen.</p>
    <p>Valitsitko väärän tilityypin?</p>
    {% endif %}
    {% if request.args.get("failed") == "2" %}
    <title>Salasana väärin</title>
    <p style="color:red">Salasana on väärin, kokeile uudelleen.</p>
    {% endif %}
<form action="/login" method="POST">
    <title>Kirjautuminen</title>
    Käyttäjänimi: <input type="text" name="username" minlength="5" maxlength="20" required>
    <br>
    Salasana: <input type="text" name="password" minlength="5" required>
    <br>
    Oletko opiskelija vai opettaja?
    <input type="radio" id="student" name="role" value="teacher" required>
    <label for="student">Opiskelija</label>
    <input type="radio" id="teacher" name="role" value="student" required>
    <label for="teacher">Opettaja</label>
    <br>
    <input type="submit" value="Kirjaudu">
</form>
<a href="/">Takaisin pääsivulle</a>
