{% extends "layout.html" %}
{% block title %}Kurssin muokkaus{% endblock %}

{% block content %}
<h2>Valittu kurssi: {{ course["name"] }} ({{ course["credits"] }} op)</h2>
{% if course["exercises"] is none %}
<h3>Kurssilla ei ole tehtäviä.</h3>
{% else %}
<h3>tehtäviä: {{ course["exercises"] }}</h3>
{% endif %}
<button onclick="openForm()">Lisää tehtävä</button>
<div id="exerciseform" style="display: none">
    <p>Testi</p>
</div>
<br style="line-height: 2">
<a href="/deletecourse?id={{course['id']}}" style="color: red">Poista kurssi</a>
<hr>
<h2>Tilastoja:</h2>
<script>
    function openForm() {
        var x = document.getElementById("exerciseform")
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none"
        }
    }
</script>
{% endblock %}
