{% extends "layout.html" %}
{% block title %}Kurssin muokkaus{% endblock %}

{% block content %}
<h2>Valittu kurssi: {{ course["name"] }} ({{ course["credits"] }} op)</h2>
{% if exercises|length == 0 %}
<h3>Kurssilla ei ole tehtäviä.</h3>
{% else %}
<h3>Tehtäviä: {{ exercises|length }}</h3>
{% endif %}
<a href="/coursetools">Takaisin kurssinäkymään</a>
<br>
{% if exercises|length != 0 %}
<button onclick="listExercises()">Listaa tehtävät</button>
{% endif %}
<div id="list-exercises" style="display: none">
    <h3>Tehtävät</h3>
    {% for i in range(exercises|length) %}
    <b>{{ i + 1 }}. tehtävä</b>
    <br>
    {{exercises[i][0]}}
    <br>
    {% if exercises[i][1] is not mapping %}
    <b>Mallivastaus</b>
    <br>
    <textarea style="resize: none" name="example_answer" rows="3" cols="50" readonly >{{ exercises[i][1] }}</textarea>
    <br style="line-height: 3">
    {% else %}
    <b>Vaihtoehdot</b>
    <ul style="margin-top: 3px">
        <li> 
            {{ exercises[i][1]["choices"][0] }}
            {% if exercises[i][1]["correct_answer"] == "1" %}
            ✔
            {% endif %}
        </li> 
        <li>
            {{ exercises[i][1]["choices"][1] }}
            {% if exercises[i][1]["correct_answer"] == "2" %}
            ✔
            {% endif %}
        </li>
        <li>
            {{ exercises[i][1]["choices"][2] }}
            {% if exercises[i][1]["correct_answer"] == "3" %}
            ✔
            {% endif %}
        </li>
        <li>
            {{ exercises[i][1]["choices"][3] }}
            {% if exercises[i][1]["correct_answer"] == "4" %}
            ✔
            {% endif %}
        </li>
    </ul>
    {% endif %}
    {% endfor %}
</div>
<button onclick="openForm()">Lisää tehtävä </button>
<div id="exerciseform" style="display: none">
    <br>
    <button onclick="openTextExercise()">Tekstitehtävä</button>
    <button onclick="openMultipleChoiceExercise()">Monivalintatehtävä</button>
</div>
<div id="textform" style="display: none">
    <form action="/exercisecreated" id="textform" method="POST">
        <input type="hidden" name="course_id" value="{{ course['id'] }}">
        <input type="hidden" name="exercise_type" value="text_question">
        <label for="question">Tehtävän kysymys:</label>
        <br>
        <input name="question" type="text" minlength="1" required>
        <br>
        Mallivastaus:
        <br>
        <textarea name="example_answer" rows="3" cols="50"></textarea>
        <br>
        <input type="submit" value="Luo tehtävä">
    </form>
</div>
<div id="multiplechoiceform" style="display: none">
    <form action="/exercisecreated" id="multiple_choice" method="POST">
        <input type="hidden" name="course_id" value="{{ course['id'] }}">
        <input type="hidden" name="exercise_type" value="multiple_choice">
        <label for="question">Tehtävän kysymys:</label>
        <br>
        <input name="question" type="text" minlength="1" required>
        <br>
        Valinnat:
        <br>
        <ul>
            <li><input type="radio" name="correct_answer" value="1" required><input name="choice1" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="2"><input name="choice2" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="3"><input name="choice3" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="4"><input name="choice4" type="text" minlength="1" required></li>
        </ul>
        <input type="submit" value="Luo tehtävä">
    </form>
</div>
<br style="line-height: 2">
<a href="/deletecourse?id={{course['id']}}" style="color: red">Poista kurssi</a>
<hr>
<h2>Tilastoja:</h2>
<!--Scripts for the buttons on this page-->
<script>
    function openForm() {
        const form = document.getElementById("exerciseform");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    function openTextExercise() {
        var textForm = document.getElementById("textform");
        if (textForm.style.display === "none") {
            textForm.style.display = "block";
        } else {
            textForm.style.display = "none";
        }
        var multipleChoiceForm = document.getElementById("multiplechoiceform")
        if (multipleChoiceForm.style.display === "block") {
            multipleChoiceForm.style.display = "none"
        }
    }

    function openMultipleChoiceExercise() {
        var multipleChoiceForm = document.getElementById("multiplechoiceform");
        if (multipleChoiceForm.style.display === "none") {
            multipleChoiceForm.style.display = "block";
        } else {
            multipleChoiceForm.style.display = "none";
        }
        var textForm = document.getElementById("textform")
        if (textForm.style.display === "block") {
            textForm.style.display = "none"
        }
    }

    function listExercises() {
        const exerciseList = document.getElementById("list-exercises")
        if (exerciseList.style.display === "none") {
            exerciseList.style.display = "block";
        } else {
            exerciseList.style.display = "none"
        }
    }
</script>
{% endblock %}
