{% extends "layout.html" %}
{% block title %}Kurssinäkymä{% endblock %}

{% block content %}
<h2>Omat kurssit</h2>
{% if request.args.get("status") == "left" %}
<p>Lähdit kurssilta {{ request.args.get("name") }}.</p>
{% endif %}

{% if request.args.get("status") == "joined" %}
<p>Liityit kurssille {{ request.args.get("name") }}.</p>
{% endif %}

{% if own_courses|length == 0 %}
<h3>Et ole millään kursseilla.</h3>
{% else %}
<table>
    <thead>
        <tr>
            <th><b>Kurssi</b></th>
            <th><b>Opintopisteet</b></th>
            <th><b>Opettaja</b></th>
        </tr>
    </thead>
    <tbody>
    {% for course in own_courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["credits"] }}</td>
            <td>{{ course["username"] }}</td>
            <td><a href="/leavecourse?id={{course['id']}}" style="color: red">Poistu kurssilta</a></td>
            <td><a href="/exercises_materials?id={{course['id']}}">Tehtävät ja materiaalit</a></td>
            {% if not course['id'] in total_exercises_dict.keys() %}
            <td>Kurssilla ei ole tehtäviä.</td>
            {% else %}
            {% if exercises_done_dict[course['id']] is not defined %}
            <td>Tehtäviä tehty: 0 / {{ total_exercises_dict[course['id']] }}</td>
            {% else %}
            <td>Tehtäviä tehty: {{ exercises_done_dict[course['id']] }} / {{ total_exercises_dict[course['id']] }}</td>
            {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
<h2>Kurssitarjonta</h2>
{% if other_courses|length == 0 %}
<h3>Kurssilista on tyhjä.</h3>
{% else %}
<table>
    <thead>
        <tr>
            <th><b>Kurssi</b></th>
            <th><b>Opintopisteet</b></th>
            <th><b>Opettaja</b></th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        {% for course in other_courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["credits"] }}</td>
            <td>{{ course["username"] }}</td>
            <td><a href="/joincourse?id={{course['id']}}" style="color: green">Liity kurssille</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
