{% extends "layout.html" %}
{% block title %}Tehtävien teko ja materiaalit{% endblock %}

{% block content %}
<h2>Valittu kurssi: {{ course['name'] }}</h2>
<a href="/coursesview">Takaisin kurssinäkymään</a>
<hr>
<h2>Tekstimateriaalit</h2>
{% if materials|length == 0 %}
<b>Kurssilla ei ole materiaaleja.</b>
{% else %}
<button onclick="openDiv('list-materials')" style="margin-bottom: 5px">Listaa tekstimateriaalit</button>
<div id="list-materials" style="display: none">
    {% for i in range(materials|length) %}
    <b>{{ i + 1 }}. materiaali</b>
    <br>
    {{ materials[i][1] }}
    <br>
    <textarea style="resize: none" name="body" rows="5" cols="50" readonly>{{ materials[i][2] }}</textarea>
    <br style="margin-bottom: 5px">
    {% endfor %}
</div>
{% endif %}
<hr>
<h2>Tehtävät</h2>
{% if exercises|length == 0 %}
<b>Kurssilla ei ole tehtäviä.</b>
{% else %}
<b>Tehtävälista:</b>
{% for i in range(exercises|length) %}
{% if i % 5 == 0 %}
<br>
{% endif %}
{% if exercises[i]["correct"] == True %}
{% set col = "green" %}
{% elif exercises[i]["correct"] == False %}
{% set col = "red" %}
{% else %}
{% set col = "orange" %}
{% endif %}
<a style="color: {{ col }}" href="/do_exercise?course_id={{ course['id'] }}&exercise_id={{ exercises[i]['id'] }}&exercise_num={{ i + 1 }}">T{{ i + 1 }}</a>
{% endfor %}
{% endif %}
<script>
    function openDiv(divID) {
        const div = document.getElementById(divID);
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>
{% endblock %}
