{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
<title>Opetussovellus</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block content %}
{% if session.username %}
<div class="container">
    <div class="row">
        <div class="col-4">
            {% if request.args.get("status") == "account_created" %}
            <b>Tilisi on luotu onnistuneesti!</b>
            {% endif %}
            <h1>Tervetuloa!</h1>
            {% if session.role == "teacher" %}
            <h2>Olet kirjautuneena tilillä {{ session.username }} (opettajatili)</h2>
            <a href="/coursetools">
                <button>Kurssityökalut</button>
            </a>
            <br>
            {% else %}
            <h2>Olet kirjautuneena tilillä {{ session.username }} (opiskelijatili)</h2>
            <a href="/coursesview">
                <button>Kurssinäkymään</button>
            <br>
            {% endif %}
            <br>
            <a href="/logout">
                <button>Kirjaudu ulos</button>
            </a>
        </div>
        <div class="col-8">
            <b>Toimintoja</b>
            <p>
                Sovelluksessa voit opettajana luoda kursseja, lisätä niihin tehtäviä ja tekstimateriaaleja, sekä katsella, kuka kurssin opiskelijoista on tehnyt mitkätkin tehtävät. Voit myös poistaa tehtäviä ja kursseja, jotka olet itse luonut.
            <p>
                Opiskelijana voit puolestaan liittyä kursseille, tehdä tehtäviä ja poistua kursseilta. Näet tehtävien jälkeen mallivastauksen ja saat suoraan palautteen, menikö se oikein vai väärin. Voit myös katsella opettajan lisäämiä tekstimateriaaleja.
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Tervetuloa!</h1>
            {% if request.args.get("loginfailed") == "1" %}
            <title>Kirjautuminen epäonnistui</title>
            <p style="color:red">Tiliä ei ole olemassa, kokeile uudelleen.</p>
            <p>Valitsitko väärän tilityypin?</p>
            {% endif %}
            {% if request.args.get("loginfailed") == "2" %}
            <title>Salasana väärin</title>
            <p style="color:red">Salasana on väärin, kokeile uudelleen.</p>
            {% endif %}
            <b>Kirjaudu sisään:</b>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Käyttäjänimi</label>
                    <input class="form-control" type="text" name="username" id="username" minlength="5" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Salasana</label>
                    <input class="form-control" type="text" name="password" id="password" minlength="5" required>
                </div>
                <div class="mb-3">
                    Oletko opiskelija vai opettaja?
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="student" name="role" value="student" required>
                        <label class="form-check-label" for="student">Opiskelija</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="teacher" name="role" value="teacher" required>
                        <label class="form-check-label" for="teacher">Opettaja</label>
                    </div>
                </div>
                <input type="submit" value="Kirjaudu sisään" class="btn btn-primary">
            </form>
            <br>
            {% if request.args.get("status") == "account_exists" %}
            <b>Tuon niminen käyttäjätili on jo olemassa!</b>
            <br>
            {% endif %}
            <b>Tai jos sinulla ei ole vielä tiliä, luo tili:</b>
            <button class="btn btn-secondary" onclick="displayDiv('registerForm')">Avaa lomake</button>
            <div id="registerForm" style="display: none">
            <form action="/accountcreated" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="username">Käyttäjänimi (5-20 merkkiä)</label>
                    <input class="form-control" type="text" name="username" minlength="5" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Salasana (Vähintään 5 merkkiä)</label>
                    <input class="form-control" type="text" name="password" minlength="5" required>
                </div>
                <div class="mb-3">
                    Oletko opiskelija vai opettaja?
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="student" name="role" value="student" required>
                        <label class="form-check-label" for="student">Opiskelija</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="teacher" name="role" value="teacher" required>
                        <label class="form-check-label" for="teacher">Opettaja</label>
                    </div>   
                </div>
                <input type="submit" value="Luo tili" class="btn btn-primary">
            </form>
            </div>
        </div>
        <div class="col-8">
            <b>Toimintoja</b>
            <p>
                Sovelluksessa voit opettajana luoda kursseja, lisätä niihin tehtäviä ja tekstimateriaaleja, sekä katsella, kuka kurssin opiskelijoista on tehnyt mitkätkin tehtävät. Voit myös poistaa tehtäviä ja kursseja, jotka olet itse luonut.
            <p>
                Opiskelijana voit puolestaan liittyä kursseille, tehdä tehtäviä ja poistua kursseilta. Näet tehtävien jälkeen mallivastauksen ja saat suoraan palautteen, menikö se oikein vai väärin. Voit myös katsella opettajan lisäämiä tekstimateriaaleja.
        </div>
    </div>
</div>
{% endif %}
<script>
    function displayDiv(divID) {
        const div = document.getElementById(divID);
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>
{% endblock %}
