{% extends "layout.html" %}
{% block title %}Kurssin muokkaus{% endblock %}

{% block content %}
<h2>Valittu kurssi: {{ course["name"] }} ({{ course["credits"] }} op)</h2>
<a href="/coursetools">Takaisin kurssityökaluihin</a>

{% if materials|length == 0 %}
<h3>Kurssilla ei ole tekstimateriaaleja.</h3>
{% else %}
<h3>Tekstimateriaaleja: {{ materials|length }}</h3>
{% if request.args.get("status") == "material_added" %}
<p>Tekstimateriaali lisätty onnistuneesti!</p>
{% endif %}
<button onclick="openDiv('list-materials')">Listaa tekstimateriaalit</button>
<div id="list-materials" style="display: none">
    {% for i in range(materials|length) %}
    <b>{{ i + 1 }}. materiaali</b>
    <br>
    {{ materials[i][1] }}
    <br>
    <textarea style="resize: none" name="body" rows="5" cols="50" readonly>{{ materials[i][2] }}</textarea>
    <br>
    {% endfor %}
</div>
{% endif %}
{% if request.args.get("status") == "material_added" %}
{% endif %}

<button onclick="openDiv('materialform')">Lisää tekstimateriaalia</button>
<div id="materialform" style="display: none">
    <form action="/addtextmaterial", method="POST">
        <input type="hidden" name="course_id" value="{{ course['id'] }}">
        <label for="title">Materiaalin otsikko</label>
        <br>
        <input name="title" type="text" required>
        <br>
        <label for="body">Materiaali</label>
        <br>
        <textarea name="body" rows="5" cols="50" required></textarea>
        <br>
        <input type="submit" value="Lisää materiaali">
    </form>
</div>

{% if exercises|length == 0 %}
<h3>Kurssilla ei ole tehtäviä.</h3>
{% else %}
<h3>Tehtäviä: {{ exercises|length }}</h3>
{% endif %}
{% if request.args.get("status") == "exercise_removed" %}
<p>Tehtävä poistettu onnistuneesti!</p>
{% endif %}
{% if exercises|length != 0 %}
{% if request.args.get("status") == "exercise_added" %}
<p>Tehtävä lisätty onnistuneesti!</p>
{% endif %}
<button onclick="openDiv('list-exercises')">Listaa tehtävät</button>
{% endif %}
<div id="list-exercises" style="display: none">
    <h3>Tehtävät</h3>
    {% for i in range(exercises|length) %}
    <b>{{ i + 1 }}. tehtävä</b>
    <br>
    <a href="/delete_exercise?course_id={{ course['id'] }}&exercise_id={{ exercises[i][0] }}" style="color: red">Poista tehtävä</a>
    <br>
    {{exercises[i][1]}}
    <br>
    {% if exercises[i][2] is not mapping %}
    <b>Mallivastaus</b>
    <br>
    <textarea style="resize: none" name="example_answer" rows="3" cols="50" readonly >{{ exercises[i][2] }}</textarea>
    <br style="line-height: 3">
    {% else %}
    <b>Vaihtoehdot</b>
    <ul style="margin-top: 3px">
        <li> 
            {{ exercises[i][2]["choices"][0] }}
            {% if exercises[i][2]["correct_answer"] == "1" %}
            ✔
            {% endif %}
        </li> 
        <li>
            {{ exercises[i][2]["choices"][1] }}
            {% if exercises[i][2]["correct_answer"] == "2" %}
            ✔
            {% endif %}
        </li>
        <li>
            {{ exercises[i][2]["choices"][2] }}
            {% if exercises[i][2]["correct_answer"] == "3" %}
            ✔
            {% endif %}
        </li>
        <li>
            {{ exercises[i][2]["choices"][3] }}
            {% if exercises[i][2]["correct_answer"] == "4" %}
            ✔
            {% endif %}
        </li>
    </ul>
    {% endif %}
    {% endfor %}
</div>

<button onclick="openDiv('exerciseform')">Lisää tehtävä </button>
<div id="exerciseform" style="display: none">
    <br>
    <button onclick="openTextExercise()">Tekstitehtävä</button>
    <button onclick="openMultipleChoiceExercise()">Monivalintatehtävä</button>
</div>
<div id="textform" style="display: none">
    <form action="/exercisecreated" id="textform" method="POST">
        <input type="hidden" name="course_id" value="{{ course['id'] }}">
        <input type="hidden" name="exercise_type" value="text_question">
        <label for="question">Tehtävän kysymys:</label>
        <br>
        <input name="question" type="text" minlength="1" required>
        <br>
        Mallivastaus:
        <br>
        <textarea name="example_answer" rows="3" cols="50"></textarea>
        <br>
        <input type="submit" value="Luo tehtävä">
    </form>
</div>
<div id="multiplechoiceform" style="display: none">
    <form action="/exercisecreated" id="multiple_choice" method="POST">
        <input type="hidden" name="course_id" value="{{ course['id'] }}">
        <input type="hidden" name="exercise_type" value="multiple_choice">
        <label for="question">Tehtävän kysymys:</label>
        <br>
        <input name="question" type="text" minlength="1" required>
        <br>
        Valinnat:
        <br>
        <ul>
            <li><input type="radio" name="correct_answer" value="1" required><input name="choice1" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="2"><input name="choice2" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="3"><input name="choice3" type="text" minlength="1" required></li>
            <li><input type="radio" name="correct_answer" value="4"><input name="choice4" type="text" minlength="1" required></li>
        </ul>
        <input type="submit" value="Luo tehtävä">
    </form>
</div>
<br style="line-height: 2">
<a href="/deletecourse?id={{course['id']}}" style="color: red">Poista kurssi</a>
<hr>
<h2>Tehtävien tilastoja:</h2>
{% for i in range(submissions|length) %}
<b>Tehtävä {{i + 1}}</b>
<ul>
    {% for _, student in submissions[i].items() %}
    <li>
        {{ student["username"] }} 
        {% if student["state"] == "correct" %}
        ✔
        {% elif student["state"] == "incorrect" %}
        ✖
        {% elif student["state"] == "missing" %}
        //
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}
<!--Scripts for the buttons on this page-->
<script>
    function openDiv(divID) {
        const div = document.getElementById(divID);
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }

    function openTextExercise() {
        const textForm = document.getElementById("textform");
        if (textForm.style.display === "none") {
            textForm.style.display = "block";
        } else {
            textForm.style.display = "none";
        }
        const multipleChoiceForm = document.getElementById("multiplechoiceform")
        if (multipleChoiceForm.style.display === "block") {
            multipleChoiceForm.style.display = "none";
        }
    }

    function openMultipleChoiceExercise() {
        const multipleChoiceForm = document.getElementById("multiplechoiceform");
        if (multipleChoiceForm.style.display === "none") {
            multipleChoiceForm.style.display = "block";
        } else {
            multipleChoiceForm.style.display = "none";
        }
        const textForm = document.getElementById("textform")
        if (textForm.style.display === "block") {
            textForm.style.display = "none";
        }
    }

</script>
{% endblock %}
