{% extends "layout.html" %}
{% block title %}Kurssin muokkaus{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Valittu kurssi: {{ course["name"] }} ({{ course["credits"] }} op)</h2>
            <a href="/coursetools">Takaisin kurssityökaluihin</a>
            
            {% if materials|length == 0 %}
            <h3><b>Kurssilla ei ole tekstimateriaaleja.</b></h3>
            {% else %}
            <h3><b>Tekstimateriaaleja: {{ materials|length }}</b></h3>
            {% if request.args.get("status") == "material_added" %}
            <p>Tekstimateriaali lisätty onnistuneesti!</p>
            {% endif %}
            <button class="btn btn-secondary" onclick="openDiv('list-materials')">Listaa tekstimateriaalit</button>
            <div id="list-materials" style="display: none">
                {% for i in range(materials|length) %}
                <b>{{ i + 1 }}. materiaali</b>
                <br>
                {{ materials[i][1] }}
                <br>
                <textarea class="form-control" style="resize: none" name="body" rows="5" cols="50" readonly>{{ materials[i][2] }}</textarea>
                <br>
                {% endfor %}
            </div>
            {% endif %}
            
            <button class="btn btn-primary" onclick="openDiv('materialform')">Lisää tekstimateriaalia</button>
            <div id="materialform" style="display: none">
                <form action="/addtextmaterial", method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="course_id" value="{{ course['id'] }}">
                    <div class="form-floating mb-3">
                        <input name="title" id="title" type="text" placeholder="Otsikko" required>
                        <label for="title">Otsikko</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="body" id="body" placeholder="Teksti" rows="5" cols="50" required></textarea>
                        <label for="body">Teksti</label>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Lisää materiaali">
                </form>
            </div>
            
            {% if exercises|length == 0 %}
            <h3><b>Kurssilla ei ole tehtäviä.</b></h3>
            {% else %}
            <h3><b>Tehtäviä: {{ exercises|length }}</b></h3>
            {% endif %}
            {% if request.args.get("status") == "exercise_removed" %}
            <p>Tehtävä poistettu onnistuneesti!</p>
            {% endif %}
            {% if exercises|length != 0 %}
            {% if request.args.get("status") == "exercise_added" %}
            <p>Tehtävä lisätty onnistuneesti!</p>
            {% endif %}
            <button class="btn btn-secondary" onclick="openDiv('list-exercises')">Listaa tehtävät</button>
            {% endif %}
            <div id="list-exercises" style="display: none">
                {% if request.args.get("status") == "remove_failed" %}
                <b>Tehtävän poisto epäonnistui, koska tehtävää ei ole olemassa!</b>
                {% endif %}
                <h3>Tehtävät</h3>
                {% for i in range(exercises|length) %}
                <b>{{ i + 1 }}. tehtävä</b>
                <br>
                <a href="/delete_exercise?course_id={{ course['id'] }}&exercise_id={{ exercises[i][0] }}" style="color: red">Poista tehtävä</a>
                <br>
                {{exercises[i][1]}}
                <br>
                {% if exercises[i][2] is not mapping %}
                <b>Mallivastaus</b>
                <br>
                <textarea class="form-control" style="resize: none" name="example_answer" rows="3" cols="50" readonly >{{ exercises[i][2] }}</textarea>
                <br style="line-height: 3">
                {% else %}
                <b>Vaihtoehdot</b>
                <ul style="margin-top: 3px">
                    <li> 
                        {{ exercises[i][2]["choices"][0] }}
                        {% if exercises[i][2]["correct_answer"] == "1" %}
                        ✔
                        {% endif %}
                    </li> 
                    <li>
                        {{ exercises[i][2]["choices"][1] }}
                        {% if exercises[i][2]["correct_answer"] == "2" %}
                        ✔
                        {% endif %}
                    </li>
                    <li>
                        {{ exercises[i][2]["choices"][2] }}
                        {% if exercises[i][2]["correct_answer"] == "3" %}
                        ✔
                        {% endif %}
                    </li>
                    <li>
                        {{ exercises[i][2]["choices"][3] }}
                        {% if exercises[i][2]["correct_answer"] == "4" %}
                        ✔
                        {% endif %}
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
            
            <button class="btn btn-primary" onclick="openDiv('exerciseform')">Lisää tehtävä </button>
            <div id="exerciseform" style="display: none">
                <br>
                <button class="btn btn-secondary mb-3" onclick="openTextExercise()">Tekstitehtävä</button>
                <button class="btn btn-secondary mb-3" onclick="openMultipleChoiceExercise()">Monivalintatehtävä</button>
            </div>
            <div id="textform" style="display: none">
                <form action="/exercisecreated" id="textform" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="course_id" value="{{ course['id'] }}">
                    <input type="hidden" name="exercise_type" value="text_question">
                    <div class="form-floating mb-3">
                        <input class="form-control" name="question" id="question" type="text" placeholder="Kysymys" minlength="1" required>
                        <label for="question">Kysymys</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="example_answer" placeholder="Vastaus" rows="3" cols="50"></textarea>
                        <label for="example_answer">Vastaus</label>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Luo tehtävä">
                </form>
            </div>
            <div id="multiplechoiceform" style="display: none">
                <form action="/exercisecreated" id="multiple_choice" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="course_id" value="{{ course['id'] }}">
                    <input type="hidden" name="exercise_type" value="multiple_choice">
                    <div class="form-floating mb-3">
                        <input class="form-control" name="question" id="question" type="text" placeholder="Kysymys" minlength="1" required>
                        <label for="question">Kysymys</label>
                    </div>
                    Valinnat:
                    <br>
                    <ul style="list-style: none">
                        <li>
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" name="correct_answer" value="1" required>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control" name="choice1" placeholder="1. valinta" type="text" minlength="1" required>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" name="correct_answer" value="2" required>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control" name="choice2" placeholder="2. valinta" type="text" minlength="1" required>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" name="correct_answer" value="3" required>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control" name="choice3" placeholder="3. valinta" type="text" minlength="1" required>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" name="correct_answer" value="4" required>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control" name="choice4" placeholder="4. valinta" type="text" minlength="1" required>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input class="btn btn-primary" type="submit" value="Luo tehtävä">
                </form>
            </div>
            <br style="line-height: 2">
            <hr>
            <h2>Tehtävien tilastoja:</h2>
            {% for i in range(submissions|length) %}
            <b>Tehtävä {{i + 1}}</b>
            <ul>
                {% for _, student in submissions[i].items() %}
                <li>
                    {{ student["username"] }} 
                    {% if student["state"] == "correct" %}
                    ✔
                    {% elif student["state"] == "incorrect" %}
                    ✖
                    {% elif student["state"] == "missing" %}
                    //
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-4">
            <b>Ohjeita</b>
            <p>Tällä sivulla voit lisätä tekstimateriaaleja ja tehtäviä kurssillesi. Voit lisätä joko essee- tai monivalintatehtäviä.</p>
            <p>Alla näet tehtävien palautusten tilanteen. Jokaisen kurssilla olevan opiskelijan kohdalla jokaisessa tehtävässä on merkki, joka näyttää, missä vaiheessa tehtävä on:</p>
            <p>✔ tarkoittaa, että tehtävä on tehty, ja se on oikein.</p>
            <p>✖ tarkoittaa, että tehtävä on tehty, mutta se meni väärin.</p>
            <p>// tarkoittaa, että oppilas ei ole vielä lähettänyt vastausta tehtävään.</p>
        </div>
    </div>
</div>
<!--Scripts for the buttons on this page-->
<script>
    function openDiv(divID) {
        const div = document.getElementById(divID);
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }

    function openTextExercise() {
        const textForm = document.getElementById("textform");
        if (textForm.style.display === "none") {
            textForm.style.display = "block";
        } else {
            textForm.style.display = "none";
        }
        const multipleChoiceForm = document.getElementById("multiplechoiceform")
        if (multipleChoiceForm.style.display === "block") {
            multipleChoiceForm.style.display = "none";
        }
    }

    function openMultipleChoiceExercise() {
        const multipleChoiceForm = document.getElementById("multiplechoiceform");
        if (multipleChoiceForm.style.display === "none") {
            multipleChoiceForm.style.display = "block";
        } else {
            multipleChoiceForm.style.display = "none";
        }
        const textForm = document.getElementById("textform")
        if (textForm.style.display === "block") {
            textForm.style.display = "none";
        }
    }

</script>
{% endblock %}
